<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include templates/head.html -%}
  
  <!-- Is it a content or a nested page -->
	{% assign isContent = true %}
	{% assign isNested = false %}
	{% if page.files %}
		{% assign isContent = false %}
		{% assign isNested = true %}
	{% endif %}
	{% if page.subfolders %}
		{% assign isContent = false %}
		{% assign isNested = true %}
	{% endif %}
  
	{%- capture style -%} {%- include styles/base.css -%} {%- include styles/nested.css -%} {%- include styles/content.css -%} {%- endcapture -%}
  
  <style>
	{{- style | strip_newlines -}}
  </style>

  <body>
	<!-- Navigation Header -->
	{% include templates/header.html %}
	
	{% assign rootPath = page.url | remove: ".html" | append: "/" %}
	{% assign relativeRootPath = rootPath | replace_first: "/", "" %}
  <main>	
  <div class="container">
		<div class="row">	
		{% if isNested %}
			<div class="section col s12">
				{% include templates/breadcrumbs.html %}				
			</div>
			<!--add all files in this folder-->
			{% for file in page.files %}
			<!-- create path to the file --> 
				{% assign fileHTMLPath = rootPath | append: file | append: ".html" %}
				<!--find the file-->
				{% for collection in site.collections %}
					{% assign htmlFile = collection.docs | where_exp:"item", "item.url == fileHTMLPath" | first  %}
					{% if htmlFile %}
						{% break %}
					{% endif %}
				{% endfor %}				
				
				<!--create a card with image for each-->
				<div class="col s12 m8 push-m2 l6 xl4">
					<a class="card-action-link" href="{{"" | relative_url | prepend: site.url | append: fileHTMLPath}}">
						<div class="card small hoverable">
							<div class="card-image">
							{% assign image = htmlFile.image %}
							{% if image %}
								<img src="{{ relative_url | append: relativeRootPath | append: image}}">
							{% else %}
								<h2 class="center card-placeholder-image"><i class="large material-icons">view_headline</i></h2>
							{% endif %}
								<span class="card-title">{{ htmlFile.title | truncate: 21}}</span>
							</div>
							<div class="card-content">
								<p>{{htmlFile.description | truncatewords: 17}}</p>
							</div>
						</div>							
					</a>
				</div>				
				
			{% endfor %}
			<!-- add all subfolders-->
			{% for subfolder in page.subfolders %}
				<!-- create path to the info.html file that is mandatory for each subfolder --> 
				{% assign subfolderInfoHTMLPath = rootPath | append: subfolder | append: ".html" %}
				<!--find the subfolderInfo.md file-->
				{% for collection in site.collections %}				
					{% assign subfolderInfo = collection.docs | where_exp:"item", "item.url == subfolderInfoHTMLPath" | first  %}
					{% if subfolderInfo %}
						{% break %}
					{% endif %}
				{% endfor %}			
				
				<!--create a card with image for each-->
				<div class="col s12 m8 push-m2 l6 xl4">
					<a class="card-action-link" href="{{"" | relative_url | prepend: site.url | append: subfolderInfoHTMLPath}}">
						<div class="card small hoverable">
							<div class="card-image">
							{% assign image = subfolderInfo.image %}	
							{% if image %}
								<img src="{{ relative_url | append: relativeRootPath | append: subfolder | append: "/" | append: image}}">
							{% else %}
								<h2 class="center card-placeholder-image"><i class="large material-icons">folder</i></h2>
							{% endif %}
								<span class="card-title">{{ subfolderInfo.title | truncate: 21}}</span>
							</div>
							<div class="card-stacked">
								<div class="card-content">
									<p>{{ subfolderInfo.description | truncatewords: 17 }}</p>									
								</div>								
							</div>
						</div>
					</a>
				</div>			
				
			{% endfor %}
			<div id="text-content" class="section col s12 l10">			
				{{content}}
			</div>
			<div class="col hide-on-med-and-down l2">
				<div id="toc-wrapper" class="toc-wrapper pin-top">
				  <ul id="toc" class="section table-of-contents">
					
				  </ul>
				</div>
			</div>
		{% else %}
			<div id="text-content" class="section col s12 l10">
				{% include templates/breadcrumbs.html %}
				{{content}}
		    </div>
			<div class="col hide-on-med-and-down l2">
				<div id="toc-wrapper" class="toc-wrapper pin-top">
				  <ul id="toc" class="section table-of-contents">
					
				  </ul>
				</div>
			</div>
			{% assign toPush = true %}
			{% if page.lprev %}
				{% assign toPush = false %}
				<div class="col s6 left-align hide-on-large-only show-on-med-and-down"><a href="{{ page.lprev | append: ".html"}}"><i class="large material-icons">keyboard_arrow_left</i></a></div>
			{% endif %}
			{% if page.lnext %}
				<div class="col s6 {% if toPush %} push-s6 {% endif %} right-align hide-on-large-only show-on-med-and-down"><a href="{{ page.lnext | append: ".html"}}"><i class="large material-icons">keyboard_arrow_right</i></a></div>
			{% endif %}
			
			{% if page.lprev %}
				<div class="prev-nav hide-on-med-and-down"><a href="{{ page.lprev | append: ".html"}}"><i class="small material-icons">keyboard_arrow_left</i></a></div>
			{% endif %}
			{% if page.lnext %}
				<div class="next-nav hide-on-med-and-down"><a href="{{ page.lnext | append: ".html"}}"><i class="small material-icons">keyboard_arrow_right</i></a></div>
			{% endif %}
		{% endif %}
			
    </div> 
	
  </div>
  </main>
	{% include templates/footer.html %}      
	{% include templates/base_script.html %}	
	{% include templates/content_script.html %}	
  </body>

</html>